/* COLORS */
$bg: ghostwhite;
$tsu-blue: rgba(0, 83, 159, 1);

$brand-main-color: $tsu-blue;

/* FONTS */
$bodycopy: 'Roboto', sans-serif;
$headlinecopy: 'Oswald', sans-serif;
$displaycopy: 'Playfair Display', serif;

$base-size: 16px;
